:root {
--primary: 	#3448ab;
--warning: #FFD700;
--danger: #FF4500;
--white: #FFFAF0;
}

.btn {
    font-family: sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover{
    transform: translateY(-3px);
    background-color: var(--danger);
}

/* button style and size*/

.btn--primary--solid 
{
    background-color: var(--primary);
    color: var(--white);
    border: 2x solid var(--warning);
}

.btn--medium
{
    font-size: 18px;
    padding: 10px 20px;
}
.btn--large
{
    font-size: 18px;
    padding: 10px 20px;
    width: 12%;
}
.btn--rightbottom
{
    font-size: 18px;
    margin-bottom: 25px;
    margin-right: 25px;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    right : 0;
    width: 12%;
}
.btn--lefttop
{
    font-size: 18px;
    margin-top: 85px;
    margin-left: 50px;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left : 0;
    width: 7%;
}
.btn--equal
{
    font-size: 18px;
    padding: 10px 20px;
    width: 12%;
}